@model OnlineStore.Common.Requests.OrderRequests.CreateOrderRequest

<h1 class="text-center">Create Order</h1>
<form class="mx-auto half-width col-5 " asp-controller="Orders" asp-action="Create" method="post">
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label asp-for="CompanyId">Company</label>
        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
    </div>
    <div class="form-group">
        <label asp-for="ProductId">Product</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Quantity">Quantity</label>
        <input asp-for="@Model.Quantity" type="number" step="1" class="form-control" placeholder="Quantity...">
        <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
    </div>
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>